<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
	<script type="text/javascript" src="static/js/app.js"></script>
	<title>Home automation</title>
</head>
<body>
	<div data-role="page" id="main">
		<div data-role="header">
			<h1>
				r0stig's home automation
			</h1>
		</div>
		
		<div data-role="content">
			<ul data-role="listview" data-inset="true" data-filer="true">
				<li><a href="#lights">Lights</a></li>
				<li><a href="#events">List events</a></li>
				<li><a href="#events-add">Create new event</a></li>
				<li><a href="#sensors">Sensors</a></li>
			</ul>
		</div>
	</div>
	<div data-role="page" id="lights">
		<div data-role="header">
			<h1>Lights</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		</div>
		
		<div data-role="content">
			<h1>Lights</h1>
			{% for d in devices %}
				<div data-role="collapsible" data-collapsed="true">
					<h3>{{ d[1] }}</h3>
					<select name="lights" id="{{ d[0] }}" data-role="slider">
						{% if d[3] == 1 %}
							<option value="0">Off</option>
							<option value="1" selected>On</option>
						{% else %}
							<option value="0" selected>Off</option>
							<option value="1">On</option>
						{% endif %}
					</select>
				</div>
			{% endfor %}
		</div>
	</div>
	<div data-role="page" id="events">
		<div data-role="header">
			<h1>Events</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		</div>
		<div data-role="content">
			<ul data-role="listview">
				{% for e in events %}
					<li>
						<a href="#">
						{% if e[2] == 0 %}
							OFF
						{% else %}
							ON
						{% endif %}
						{{ e[4] }} {{ dt.fromtimestamp(e[3]) }}
						{% if e[6] or e[7] or e[8] or e[9] or e[10] or e[11] or e[12] %}
							(repeated)
						{% endif %}
						</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div data-role="page" id="events-add">
		<div data-role="header">
			<h1>Create new event</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		</div>
		<form action="/add-event" method="post">
			<label for="device">Device</label>
			<select name="device" id="device">
				{% for d in devices %}
					<option value="{{ d[0] }}">{{ d[1] }}</option>
				{% endfor %}
			</select>
			
			<label for="mode">Mode</label>
			<select name="mode" id="mode" data-role="slider">
				<option value="0">Off</option>
				<option value="1" selected>On</option>
			</select>
			<br />
			
			<label for="when">When</label>
			<label>
				<input type="checkbox" name="sunrise" value="on">
				Sunrise (today {{sunrise}})
			</label>
			<label>
				<input type="checkbox" name="sunset" value="on">
				Sunset (today {{sunset}})
			</label>
			
			<div data-role="fieldcontain">
				<select name="day">
					<option>Day</option>
					{% for d in range(32) %}
						{% if dt.today().day == d %}
							<option selected>{{ d }}</option>
						{% else %}
							<option>{{ d }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<select name="month">
					<option>Month</option>
					{% for m in range(0, 13) %}
						{% if dt.today().month == m %}
							<option selected>{{ m }}</option>
						{% else %}
							<option>{{ m }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<select name="year">
					<option>Year</option>
					{% for y in range(dt.today().year, dt.today().year+2) %}
						{% if dt.today().year == y %}
							<option selected>{{ y }}</option>
						{% else %}
							<option>{{ y }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			
			<div data-role="fieldcontain">
				<select name="hour">
					<option>Hour</option>
					{% for h in range(24) %}
						{% if dt.today().hour == h %}
							<option selected>{{ h }}</option>
						{% else %}
							<option>{{ h }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<select name="minute">
					<option>Min</option>
					{% for m in range(0, 60, 1) %}
						{% if dt.today().minute == m %}
							<option selected>{{ m }}</option>
						{% else %}
							<option>{{ m }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			<h2>Repeat</h2>
			<label>
				<input type="checkbox" name="mo" value="one" />
				Monday
			</label>
			<label>
				<input type="checkbox" name="tu" value="one" />
				Tuesday
			</label>
			<label>
				<input type="checkbox" name="we" value="one" />
				Wednesday
			</label>
			<label>
				<input type="checkbox" name="th" value="one" />
				Thursday
			</label>
			<label>
				<input type="checkbox" name="fr" value="one" />
				Friday
			</label>
			<label>
				<input type="checkbox" name="sa" value="one" />
				Saturday
			</label>
			<label>
				<input type="checkbox" name="su" value="one" />
				Sunday
			</label>

			<input type="submit" value="Create" />
		</form>
	</div>
	<div data-role="page" id="sensors">
		<div data-role="header">
			<h1>Sensors</h1>
			<a href="/" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		</div>
		<div class="ui-grid-c">
			{% for sd in temp_sensor_data %}
				<div class="ui-block-a"><b>{{ sd[2] }}</b><br />
					{{ sd[0] }} °C<br />
					<em>{{ dt.utcfromtimestamp(sd[1]) }}</em>
				</div>
			{% endfor %}

            {% for sd in hum_sensor_data %}
                <div class="ui-block-a"><b>{{ sd[2] }}</b><br />
                    {{ sd[0] }} %<br />
                    <em>{{ dt.utcfromtimestamp(sd[1]) }}</em>
                </div>
            {% endfor %}
			
		</div>
	</div>
</body>
</html>